.login {
    height: 250px;
    width: 150px;
    background-color: blueviolet;
    margin-left: auto;
    border-radius: 20px;
    margin-top: 50px;
    border: 1.5px solid black;
}
#log { 
    text-align: center;
    text-decoration: none;
    padding-top: 20px;
    font-size: 25px;
    border: 3px solid black;
    border-radius: 10px;
    width: 100px;
    margin-left: 22.5px;
    height: 30px;
    background-color: rgb(214, 233, 47);
    opacity: 0.9;
}
.email-login {
    position: relative;
    max-width: 100px;
    margin-left: 20px;
    margin-top: -3px;
    border-radius: 10px;
}
form{
    padding-top: 1px;
}
.password-login {
    position: relative;
    max-width: 100px;
    margin-left: 20px;
    margin-top: 8px;
    border-radius: 10px;
}
.signin {
    position: relative;
    width: 80px;
    height: 25px;
    margin-top: 20px;
    margin-left: 32.5px;
    border-radius: 10px;
    background-color: lemonchiffon;
}
.signin:hover {
    background-color: rgb(226, 208, 48);
    transition: 1s;
}
.lg {
    position: relative;
    width: 80px;
    height: 25px;
    margin-top: 10px;
    margin-left: 32.5px;
    border-radius: 10px;
    background-color: lemonchiffon;  
}
.lg:hover {
    background-color: rgb(226, 208, 48);
    transition: 1s;
}